.navbar {
  &-list {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    font-size: 1.5rem;
  }

  &-link {
    @include animate(color border-color);
    display: block;
    padding: 2.4rem 1.5rem 1.6rem;
    text-decoration: none;
    color: var(--color-grey-text);
    border-bottom: 0.4rem solid transparent;
    &:hover, &:focus,
    .navbar-item.active & {
      color: var(--color-black);
      border-color: var(--color-blue);
    }

    @include media('<desktop') {
      display: inline-block;
      padding: 1.5rem 0;
    }
  }
}
