<section class="hero">
  <div class="container hero-wrapper">
    <div class="hero-content">
      <span class="hero-label">Національна програма мобільності молоді</span>
      <h1 class="h1 hero-title">Мандруй! Уявляй! Відкривай!</h1>
      <p>Найбільша в Центральній та Східній Європі 7-денна програма внутрішніх обмінів для молоді віком від 14 до 21 року. Її ініціатором є Міністерство культури, молоді та спорту України, в основу діяльності якого покладені демократичні цінності та принципи всебічного розвитку особистості.</p>
      <a href="#" class="btn hero-btn">Стати учасником програми МУВ</a>
    </div>
    <div class="hero-image">
      <img src="./images/hero-image.png" alt="hero-image">
    </div>
  </div>
</section>
